<!--Navbar-->
<nav class="navbar navbar-dark fixed-top navbar-toggleable-md scrolling-navbar">

  <div class="container smooth-scroll">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#home" data-offset="100">Réservez!</a>

    <!--Collapse content-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!--Links-->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#about" data-offset="110">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-offset="110">Contact</a>
        </li>

        <div *ngIf="loginService.isLoggedIn()==true">
          <li class="nav-item">
            <a [routerLink]="['/clientMesReserv']" class="nav-link">Mes réservations</a>
          </li>
        </div>
      </ul>
      <!--Navbar icons-->
      <ul class="nav navbar-nav nav-flex-icons">
        <div *ngIf="loginService.isLoggedIn()==false; else elseBlock">
          <li class="nav-item btn-group">
            <a [routerLink]="['/login']" class="nav-link">{{cnx_seConnecter}}</a>
          </li>
          <li class="nav-item btn-group">
            <a [routerLink]="['/register']" class="nav-link">{{cnx_creerUnCompte}}</a>
          </li>


        </div>

        <ng-template #elseBlock>
          <li class="nav-item btn-group">
            <a (click)="logout()" class="nav-link">{{cnx_deconnexion}}</a>
          </li>
        </ng-template>




        <li class="nav-item">
          <a href="#!" class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>

    </div>
    <!--/Collapse content-->

  </div>

</nav>
<!--/Navbar-->
