<!--The content below is only a placeholder and can be replaced.-->
<header class="black-skin">

  <!--Navbar-->
<nav class="navbar navbar-dark fixed-top navbar-toggleable-md scrolling-navbar">

<div class="container smooth-scroll">

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="#home" data-offset="100">Réservez!</a>

          <!--Collapse content-->
  <div class="collapse navbar-collapse" id="navbarNav">
    <!--Links-->
    <ul class="navbar-nav mr-auto"><i></i>
                  <li class="nav-item btn-group">
                      <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prestataires<span class="sr-only">(current)</span></a>

                      <!--Menu-->
                      <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                          <a class="dropdown-item" href="#paris" data-offset="130">Weekend in Paris 2014</a>
                          <a class="dropdown-item" href="#tatras" data-offset="80">Tatra Mountains</a>
                          <a class="dropdown-item" href="#newyork" data-offset="80">New York 2015</a>
                          <a class="dropdown-item" href="#losangeles" data-offset="80">Los Angeles 2015</a>

                      </div>
                  </li>
                  <li class="nav-item btn-group">
                      <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

                      <!--Menu-->
                      <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownMenu2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                          <a class="dropdown-item" href="#wedding" data-offset="80">Wedding</a>
                          <a class="dropdown-item" href="#people" data-offset="80">People</a>
                          <a class="dropdown-item" href="#models" data-offset="80">Models</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#about" data-offset="110">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#contact" data-offset="110">Contact</a>
                  </li>
              </ul>
              <!--Navbar icons-->
              <ul class="nav navbar-nav nav-flex-icons">
                  <li class="nav-item">
                      <a href="#!" class="nav-link"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="nav-item">
                      <a href="#!" class="nav-link"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="nav-item">
                      <a href="#!" class="nav-link"><i class="fa fa-instagram"></i></a>
                  </li>
              </ul>

          </div>
          <!--/Collapse content-->

      </div>

  </nav>
  <!--/Navbar-->

</header>

<router-outlet></router-outlet>
