<!--Footer-->
<footer class="page-footer center-on-small-only" >

  <!--Footer Links-->
  <div class="container" id="contact" >

    <hr class="w-100 hidden-lg-up wow fadeIn" data-wow-delay="0.3s">

    <!--Second column-->
    <div class=" text-center mt-1 wow fadeIn " data-wow-delay="0.3s">
      <!--Contact-->
      <h5 class="title">Contact info</h5>

      <p>Montplaisir, Tunis 1002<br>
        Tunisie<br>
        +216 234 567 789<br>
        direction@devstriker.com</p>
      <!-- Contact -->

    </div>
    <!--/Second column-->

    <hr class="w-100 hidden-lg-up wow fadeIn" data-wow-delay="0.3s">

  </div>
  <!--/Footer Links-->

  <br>
  <!--Copyright-->
  <div class="footer-copyright wow fadeIn " data-wow-delay="0.3s" style="background-color: black">
    <div class="container-fluid">
      © 2017 Copyright: <a href="http://www.MDBootstrap.com"> DevStriker </a>
    </div>
  </div>
  <!--/Copyright-->

</footer>
