<!--Footer-->
<footer class="page-footer center-on-small-only" >

  <!--Footer Links-->
  <div class="container" id="contact" >

    <hr class="w-100 hidden-lg-up wow fadeIn" data-wow-delay="0.3s">

    <!--Second column-->
    <div class=" text-center mt-1 wow fadeIn " data-wow-delay="0.3s">
      <!--Contact-->
      <h5 class="title">Contact info</h5>

      <p>New York, NY 10012<br>
        United States<br>
        + 01 234 567 89<br>
        info@gmail.com</p>
      <!-- Contact -->

    </div>
    <!--/Second column-->

    <hr class="w-100 hidden-lg-up wow fadeIn" data-wow-delay="0.3s">

  </div>
  <!--/Footer Links-->

  <br>
  <!--Copyright-->
  <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s" style="background-color: black">
    <div class="container-fluid">
      © 2017 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
  </div>
  <!--/Copyright-->

</footer>
