	<!--Main content-->
    <div>

    </div>

    <main id="home">

	    <!--First container-->
	    <div class="container-fluid pt-4">

            <!--Section: Los Angeles-->
            <section id="losangeles" class="section">

                <div class="section-heading pt-4 pb-2 black-text wow fadeIn" data-wow-delay="0.2s">

                    <i class="material-icons amira-icon-grand" (click)="offreResPerPrestataireCategory('Restaurant')">restaurant_menu</i>

                    <i class="material-icons md-48 amira-icon-grand" (click)="offreResPerPrestataireCategory('Hotel')">hotel</i>

                </div>

                <md-grid-list cols="3">
                    <md-grid-tile
                        *ngFor="let offreRes of offreReservs"
                        [style.background]='lightpink'>

                            <!--First row-->
                            <div class="row wow fadeIn" data-wow-delay="0.4s">

                                <div id="mdb-lightbox-ui"></div>

                                <!--Full width lightbox-->
                                <div class="mdb-lightbox" style="padding: 30px" >
                                    <figure class="col-md-12">
                                          <img src={{offreRes.photoOffreRes}} class="img-fluid">

                                        <md-grid-list cols="3" rowHeight="50px">
                                          <md-grid-tile [colspan]="2">
                                            <h5>{{offreRes.titre}}</h5>
                                          </md-grid-tile>

                                          <md-grid-tile>
                                            <i class="material-icons amira-icon-petit" (click)="popout(offreRes)">book</i>
                                          </md-grid-tile>
                                        </md-grid-list>
                                    </figure>
                                </div>
                            </div>

                    </md-grid-tile>
                  </md-grid-list>

            </section>
            <!--/Section: Los Angeles-->


	    </div>
      <hr>
      <!-- First container About-->
      <div class="container">

        <!-- Section About -->
        <section id="about" class="section pt-3 pb-4">

          <!-- Section title -->
          <h1 class="section-heading wow fadeIn">About us</h1>

          <!-- First row -->
          <div class="row wow fadeIn" data-wow-delay="0.2s">

            <!-- Place for photo -->
            <div class="col-lg-4">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2811%29.jpg" alt="My photo" class="mb-r">
            </div>

            <!-- Text content -->
            <div class="col-lg-8">
              <p class="lead">Réservez tout ce dont vous avez besoin en un clin d'oeir</p>
              <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi.</span><span>Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Qui expedita sit quo, maxime molestiae.</span></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sapiente, consequuntur dolore praesentium non suscipit minus repudiandae, nesciunt placeat, vel nostrum magni pariatur accusantium laudantium.</p>
            </div>

          </div>
          <!-- /.First row -->

        </section>
        <!-- /.Section About -->

      </div>
      <!-- /.First container -->
      <!--Footer-->
      <footer class="page-footer center-on-small-only" >

        <!--Footer Links-->
        <div class="container" id="contact" >

          <hr class="w-100 hidden-lg-up wow fadeIn" data-wow-delay="0.3s">

          <!--Second column-->
          <div class=" text-center mt-1 wow fadeIn " data-wow-delay="0.3s">
            <!--Contact-->
            <h5 class="title">Contact info</h5>

            <p>New York, NY 10012<br>
              United States<br>
              + 01 234 567 89<br>
              info@gmail.com</p>
            <!-- Contact -->

          </div>
          <!--/Second column-->

          <hr class="w-100 hidden-lg-up wow fadeIn" data-wow-delay="0.3s">

        </div>
        <!--/Footer Links-->

        <br>
        <!--Copyright-->
        <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s" style="background-color: black">
          <div class="container-fluid">
            © 2017 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
          </div>
        </div>
        <!--/Copyright-->

      </footer>
      <!--/Footer-->

	</main>
	<!--/Main content-->

	<!-- SCRIPTS -->

	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>

	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/tether.min.js"></script>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>

	<script>

    // MDB Lightbox Init
    $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });

    //Animation Init
    new WOW().init();

	</script>
