<!-- First container About-->
<div class="container">

  <!-- Section About -->
  <section id="about" class="section pt-3 pb-4">

    <!-- Section title -->
    <h1 class="section-heading wow fadeIn">About us</h1>

    <!-- First row -->
    <div class="row wow fadeIn" data-wow-delay="0.2s">

      <!-- Place for photo -->
      <div class="col-lg-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2811%29.jpg" alt="My photo" class="mb-r">
      </div>

      <!-- Text content -->
      <div class="col-lg-8">
        <p class="lead">Réservez tout ce dont vous avez besoin en un clin d'oeir</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi.</span><span>Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Qui expedita sit quo, maxime molestiae.</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sapiente, consequuntur dolore praesentium non suscipit minus repudiandae, nesciunt placeat, vel nostrum magni pariatur accusantium laudantium.</p>
      </div>

    </div>
    <!-- /.First row -->

  </section>
  <!-- /.Section About -->

</div>
<!-- /.First container -->
